@{
    ViewBag.Title = "Setup Greenhouse";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="col-4" style="width:20%">
        <a href="#" class="list-group-item">Greenhouse ID: 120</a>
        <a href="#" class="list-group-item">Greenhouse ID: 121</a>
        <a href="#" class="list-group-item">Greenhouse ID: 122</a>

    </div>
    <div>
        <style type="text/css">
            .tg {
                border-collapse: collapse;
                border-spacing: 0;
                border-color: #bbb;
                text-align: center;
            }

                .tg td {
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    padding: 10px 5px;
                    border-style: solid;
                    border-width: 1px;
                    overflow: hidden;
                    word-break: normal;
                    border-color: #bbb;
                    color: #594F4F;
                    background-color: #E0FFEB;
                    text-align: center;
                }

                .tg th {
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    padding: 10px 5px;
                    border-style: solid;
                    border-width: 1px;
                    overflow: hidden;
                    word-break: normal;
                    border-color: #bbb;
                    color: #493F3F;
                    background-color: #9DE0AD;
                    text-align: center;
                }

                .tg .tg-qcxc {
                    font-weight: bold;
                    text-decoration: underline;
                    font-size: 22px;
                    border-color: inherit;
                    text-align: center;
                    vertical-align: top
                }

                .tg .tg-q8ud {
                    background-color: #C2FFD6;
                    border-color: inherit;
                    vertical-align: top
                }

                .tg .tg-x46y {
                    background-color: #C2FFD6;
                    font-weight: bold;
                    border-color: inherit;
                    vertical-align: top
                }

                .tg .tg-0pky {
                    border-color: inherit;
                    vertical-align: top
                }
        </style>
        <table class="tg">
            <tr>
                <th class="tg-qcxc" colspan="6">Day 1</th>
            </tr>
            <tr>
                <td class="tg-q8ud"></td>
                <td class="tg-x46y">Blue Light</td>
                <td class="tg-x46y">Red Light</td>
                <td class="tg-x46y">Waterlevel</td>
                <td class="tg-x46y">Humidity</td>
                <td class="tg-x46y">Temperature</td>
            </tr>
            <tr>
                <td class="tg-0pky">00-02</td>
                <td class="tg-0pky"><input id="" type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
                <td class="tg-0pky"><input type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
                <td class="tg-0pky"><input type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
                <td class="tg-0pky"><input type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
                <td class="tg-0pky"><input type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
            </tr>
            <tr>
                <td class="tg-q8ud">02-04<br></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
            </tr>
            <tr>
                <td class="tg-0pky">04-06</td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
            </tr>
            <tr>
                <td class="tg-q8ud">06-08</td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
            </tr>
            <tr>
                <td class="tg-0pky">08-10</td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
            </tr>
            <tr>
                <td class="tg-q8ud">10-12</td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
            </tr>
            <tr>
                <td class="tg-0pky">12-14</td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
            </tr>
            <tr>
                <td class="tg-q8ud">14-16</td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
            </tr>
            <tr>
                <td class="tg-0pky">16-18</td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
            </tr>
            <tr>
                <td class="tg-q8ud">18-20</td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
            </tr>
            <tr>
                <td class="tg-0pky">20-22</td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
            </tr>
            <tr>
                <td class="tg-q8ud">22-24</td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
                <td class="tg-q8ud"></td>
            </tr>
        </table>

    </div>
    <script>

    </script>
</body>
</html>


@{var counter = 1;}

<table class="tg">
    <tr>
        <th class="tg-qcxc" colspan="6">Day @counter</th>
    </tr>
    <tr>
        <td class="tg-q8ud"></td>
        <td class="tg-x46y">Blue Light</td>
        <td class="tg-x46y">Red Light</td>
        <td class="tg-x46y">Waterlevel</td>
        <td class="tg-x46y">Humidity</td>
        <td class="tg-x46y">Temperature</td>
    </tr>

    @for (int i = 0; i < 12; i++)
    {

        <tr>
            <td class="tg-0pky">@(i*2)-@(i*2+2)</td>
            <td class="tg-0pky"><input id="@(counter)bluelight@(i)" type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
            <td class="tg-0pky"><input id="@(counter)redlight@(i)" type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
            <td class="tg-0pky"><input type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
            <td class="tg-0pky"><input type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
            <td class="tg-0pky"><input type="number" name="" value="" min="0" max="100" placeholder="20" /></td>
        </tr>

    }
</table>
@{counter++;}


