@model GreenhouseWeb.Models.Schedule

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blocknumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blocknumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternalTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExternalTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExternalTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Humidity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Humidity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedLight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedLight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlueLight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlueLight)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
