@model GreenhouseWeb.Models.Datalog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Datalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Greenhouse_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Greenhouse_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfReading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfReading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternalTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExternalTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExternalTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Humidity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Humidity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Waterlevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waterlevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
